<h1 style="text-align: center;">
  Results from restful webservices
</h1>
<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Country Name </mat-header-cell>
      <mat-cell *matCellDef="let result"> {{result.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="alpha2_code">
      <mat-header-cell *matHeaderCellDef> alpha2_code	 </mat-header-cell>
      <mat-cell *matCellDef="let result"> {{result.alpha2_code}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="alpha3_code">
      <mat-header-cell *matHeaderCellDef> alpha3_code </mat-header-cell>
      <mat-cell *matCellDef="let result"> {{result.alpha3_code}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-spinner *ngIf="hide" style="display: block;margin-left: auto;margin-right: auto;"></mat-spinner>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
